@media screen and (max-width: 576px) {

    /* Global */
    html {
        font-size: 12px;
    }

    .section-gap {
        padding: 60px 0;
    }

    /* NavBar */
    .navBar-desktop {
        display: none;
    }

    .navBar-mobile {
        display: flex;
    }

    /* Banner style */
    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    /* Brand section style */
    .brand-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    /* popular section */
    .cards {
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 0;
    }

    /* Feature section */
    .feature {
        flex-direction: column-reverse;
        text-align: center;
    }
}

/* ************************************************************* */

/* Responsive design for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    html {
        font-size: 14px;
    }
    .section-gap {
    padding: 60px 0;
}

    /* NavBar */
    .navBar-desktop {
        display: none;
    }

    .navBar-mobile {
        display: flex;
    }

    /* Banner style */
    .banner {
        flex-direction: column;
        text-align: center;
    }

    /* Brand section style */
    .brand-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 80px;
        align-items: center;
    }

    /* popular section */
    .cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 0;
    }

    /* Feature section */
    .feature {
        flex-direction: column-reverse;
        text-align: center;
    }
}