/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Global Css */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.primary-color {
    background-color: #E02C6D;
}

.secondary-color {
    color: #3A3A3A;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}

.section-gap {
    padding: 130px 0;
}

.primary-btn {
    font-weight: 700;
    font-size: 1rem;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text {
    font-weight: 600;
    font-size: 1rem;
    margin: 16px 0;
}

/* *********************************************** */

/* Navbar style */
.navBar-desktop {
    padding-top: 50px;
}

.navBar-mobile {
    padding-top: 30px;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.navLinks {
    gap: 34px;
}

.navItems {
    font-weight: 600;
    font-size: 1rem;
    list-style: none;
}

.navItems a {
    text-decoration: none;
    color: #3A3A3A;
}

.nav-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 15px;
}

/* Banner style */
.banner {
    margin: 100px 0;
    gap: 8.125rem;
}

.banner-content {
    max-width: 582px;
}

.banner-content h1 {
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 4.375rem;
}

.banner-content button {
    border-radius: 40px;
}

.banner-image {
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Brand section style */
.brand-container {
    padding: 35px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right,
            rgba(192, 204, 218, 0.1),
            rgba(192, 204, 218, 0.6),
            rgba(192, 204, 218, 0.1)) 1;
}

/* popular collection style */
.popular-title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 4.375rem;
    color: #3A3A3A;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px 0;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #18191F;
}

.card-price {
    font-size: 1.5rem;
    color: #18191F;
    margin: 10px 0;
}

.card-text {
    font-size: 0.875rem;
    font-weight: 700;
    color: #787885;
    margin-bottom: 10px;
}

.see-more {
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
}

/* Feature section style */
.feature {
    gap: 6rem;
}

.feature-content {
    max-width: 38.125rem;
}

.feature-title {
    font-weight: 700;
    font-size: 2.375rem;
    line-height: 3.75rem;
}

/* Footer style */
footer {
    background-color: #0A0826;
    padding: 50px 0;
    color: white;
}

.footer-content {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

.footer-content h4 {
    font-weight: 700;
    font-size: 1.5rem;
}

.footer-content p {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0;
}

.icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 16px;
}